.header {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.header__rigth {
  display: flex;
}
.header__image {
  height: 35px;
  width: 35px;
}
.header__title {
  display: flex;
  align-items: flex-end;
  margin-left: 5px;
  color: map-get($theme-colors, primary);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.header__button {
  color: map-get($theme-colors, primary);
  border-radius: 80px;
  border: double 3px transparent;
  background-image: linear-gradient(#0d0e21, #0d0e21),
    radial-gradient(circle at top left, #016eda, #d900c0);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  background-color: black;
  padding: 7px 25px;
  cursor: pointer;
}
