.footer_nav {
  color: map-get($theme-colors, secondary);
}

.footer_nav__container {
  width: 60%;
}

.footer_nav__title {
  color: white;
  font-weight: bold;
}

.footer_nav__list {
  cursor: pointer;
  margin-top: 20px;
  list-style: none;
}

.footer_nav__item {
  margin-top: 20px;
}

.footer_nav__item:hover {
  color: rgba(128, 128, 128, 0.552);
}
