.button {
  padding: 10px 30px;
  color: map-get($theme-colors, primary);
  border-radius: 6px;
  border: none;
}

.button--primary {
  background: linear-gradient(45deg, #009efb, #e100c4);
  cursor: pointer;
}

.button--secondary {
  cursor: pointer;
  margin-left: 15px;
  background-color: #2e3348;
  color: map-get($theme-colors, primary);
}

.header__button_burguer {
  color: white;
  width: 24px;
  background: transparent;
}
