.icon_list {
  display: grid;
  padding-top: 40px;
  text-align: center;
  @include breakpoint(sm) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  @include breakpoint(md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include breakpoint(xl) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
